<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>
    <facilities>
      <facility id="rhino.esb">
        <bus threadCount="1" numberOfRetries="5" endpoint="rhino.queues://localhost:56785/rhinoqueue" name="rhinoqueue"/>
        <messages>
          <add name="InView.Commands.Payroll.InitiatePayroll" endpoint="rhino.queues://localhost:56785/rhinoqueue"/>
        </messages>
      </facility>
    </facilities>
  </castle>
  <appSettings>
    <!--Use the following line to point at the BSI database in the "Dev 3" environment-->
    <!--<add key="BSIUSConnection" value="DRIVER={SQL Server};SERVER=LTC5HRMSSQL07;DATABASE=TF90;UID=TF90;PWD=bsi;"/>-->
    <!--Use the following line to point at a BSI database on your local machine-->
    <add key="BSIUSConnection" value="DRIVER={SQL Server};SERVER=localhost;DATABASE=TF90;UID=TF90;PWD=bsi;"/>
    <add key="BSIUSDataset" value="DEFAULT"/>
    <add key="BSIUSUser" value="TF90"/>
    <add key="BSIUSPassword" value="bsi"/>
    <add key="QueryHost" value="10.2.174.32"/>
    <add key="QueryPath" value=""/>
    <add key="QueryPort" value="8060"/>
    <add key="QueryProtocol" value="http"/>
  </appSettings>
  <connectionStrings>
    <add name="PayrollDb" connectionString="Data Source=localhost;Initial Catalog=Payroll;MultipleActiveResultSets=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="PayrollDb" connectionString="Data Source=LTC5HRMSSQL07;Initial Catalog=Payroll;MultipleActiveResultSets=True;Trusted_Connection=False;Persist Security Info=True;User Id=PayrollUser;Password=#hS%uI&amp;UO=;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name ="Castle.Windsor" 
                          publicKeyToken="407dd0808d44fbdc"
                          culture="neutral" />
        <codeBase version="2.5.1.0"
                  href="../Fixtures/Castle.Windsor.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name ="Castle.Core"
                          publicKeyToken="407dd0808d44fbdc"
                          culture="neutral" />
        <codeBase version="2.5.1.0"
                  href="../Fixtures/Castle.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name ="CommonServiceLocator.WindsorAdapter"
                          publicKeyToken="407dd0808d44fbdc"
                          culture="neutral" />
        <codeBase version="1.0.0.0"
                  href="../Fixtures/CommonServiceLocator.WindsorAdapter.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name ="Rhino.ServiceBus.Host"
                          publicKeyToken="0b3305902db7183f"
                          culture="neutral" />
        <codeBase version="1.8.0.0"
                  href="../Fixtures/Rhino.ServiceBus.Host.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name ="AutoMapper"
                          publicKeyToken="be96cd2c38ef1005"
                          culture="neutral" />
        <codeBase version="1.1.0.188"
                  href="../Fixtures/AutoMapper.dll"/>
      </dependentAssembly>
    </assemblyBinding>

  </runtime>

</configuration>
